.card-body
  background: rgb(235,225,225)
  background: linear-gradient(90deg, rgba(235,225,225,1) 0%, rgba(14,128,109,1) 0%, rgba(0,0,0,0.9023984593837535) 100%)

.example-card
  max-width: 260px
  border: 3px solid black
  background-color: lightgoldenrodyellow
  margin-left: 25px
  margin-top: 25px
