<div fxLayout="row">
  <div *ngFor="let cocktail of cocktails | async">
  <mat-card class="example-card" *ngIf="isAdmin() || cocktail.is_published">
    <img
      mat-card-image
      [src]="cocktail.image | image"
      style="height: 292px; width: 292px"
      [alt]="cocktail.title"/>
    <h2>{{ cocktail.title }}</h2>
    <mat-card-content>
      <p>
        <mat-card-subtitle>{{ cocktail.recipe }}</mat-card-subtitle>
      </p>
    </mat-card-content>
    <div style="padding-top: 50px">
      <button mat-raised-button style="height: 40px; cursor: pointer; bottom: 0; position: absolute; margin-bottom: 10px" [routerLink]="['/cocktails', cocktail._id]">VIEW</button>
      <div *appHasRoles="['admin']">
        <img src="https://findicons.com/files/icons/1262/amora/256/delete.png" style="height: 40px; cursor: pointer; margin-left: 75px; bottom: 0; position: absolute; margin-bottom: 10px" alt="Delete" (click)="removeCocktail(cocktail._id)"/>
        <button mat-raised-button *ngIf="cocktail.is_published === false" style="height: 40px; margin-left: 125px; cursor: pointer; bottom: 0; position: absolute; margin-bottom: 10px" (click)="publishCocktail(cocktail._id, {is_published: true})">PUBLISH</button>
      </div>
    </div>
  </mat-card>
  </div>
</div>
