<div fxLayout="row wrap">
  <mat-card class="example-card" *ngFor="let cocktail of userCocktails | async">
    <img
      mat-card-image
      [src]="cocktail.image | image"
      style="height: 292px; width: 292px"
      [alt]="cocktail.title"/>
    <h2>{{ cocktail.title }}</h2>
    <mat-card-content>
      <p>
        <mat-card-subtitle>{{ cocktail.recipe }}</mat-card-subtitle>
      </p>
    </mat-card-content>
    <div *ngIf="isUser() && cocktail.is_published === false">
    <hr>
    <b style="font-style: italic">Ваш коктейль находится на рассмотрении модератора *</b>
    </div>
  </mat-card>
</div>
