<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="centered-card">
    <mat-card-title>Add new artist</mat-card-title>
    <mat-card-content>
      <form #f="ngForm" fxLayout="column" autocomplete="off" (ngSubmit)="createCocktail()">

        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input
            type="text"
            name="title"
            required
            matInput
            ngModel
            #title="ngModel"
          />
          <mat-error *ngIf="title.touched && title.hasError('required')">
            Title is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Recipe</mat-label>
          <textarea
            name="recipe"
            ngModel
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Image</mat-label>
          <app-file-input name="image" ngModel></app-file-input>
        </mat-form-field>

        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >
          CREATE
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="card">
  <form [formGroup]="cocktailForm" (ngSubmit)="save()">

    <div class="form-group mb-2" formArrayName="ingredients">
      <label class="form-label mb-2" for="addIngredient"><b>Ingredients: </b></label>
      <br>
      <button type="button" id="addIngredient" class="btn btn-info mb-2" (click)="addIngredient()">Add</button>
      <div class="form-inline" *ngFor="let ingredientControl of getIngredientControls(); let i = index">
        <div class="mb-2" [formGroupName]="i">
          <input type="text" id="ingredientName" formControlName="ingredientName" class="form-control form-control-lg"
                 style="width: 205px" placeholder="Назв. ингридиента"/>
          <input type="number" id="amount" formControlName="amount" class="form-control form-control-lg ml-2 mr-2"
                 style="width: 110px" placeholder="Кол-во"/>
          <select
            id="measurability"
            formControlName="measurability"
            class="form-control"
            style="width: 65px; height: 32px"
          >
            <option value="мл.">мл.</option>
            <option value="шт.">шт.</option>
            <option value="гр.">гр.</option>
          </select>
          <img alt="delete" src="https://icons.iconarchive.com/icons/hopstarter/sleek-xp-basic/256/Close-2-icon.png"
               style="height: 25px; margin-left: 10px" type="button" class="ml-2" (click)="removeIngredient(i)"/>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <button
        type="submit"
        class="btn btn-block btn-success"
        [disabled]="cocktailForm.invalid"
      >Save
      </button>
    </div>
  </form>
</div>
