.centered-card
  width: 300px
  margin-top: 50px

.card
  width: 500px
  margin: 0 520px
  margin-top: 15px

.card button
  margin-top: 10px
  width: 100px
  height: 30px

.card input
  margin-right: 10px
  height: 25px
