<h1><b>Коктейль: </b>{{ (cocktail | async)?.title }}</h1>
<img [src]="(cocktail | async)?.image | image" alt="Cocktail's image" style="height: 400px; width: 400px; border: 2px solid black"/>
<h2><b>Рецепт: </b></h2><p style="font-size: 18px">{{ (cocktail | async)?.recipe }}</p>
<div fxLayout="row">
  <h2><b>Автор: </b></h2>
  <p style="font-size: 18px; margin-top: 7px; margin-left: 10px; font-style: italic">{{ (cocktail | async)?.user?.displayName }}</p>
  <img alt="avatar" [src]="(cocktail | async)?.user?.avatar | image" style="height: 25px; margin-top: 4px; margin-left: 5px"/>
</div>

